@import "tailwindcss";

@theme {
  /* width here */
 


  /* color here*/
  --color-drk: #081421;
  --color-light: #F1F5F9;
  --color-sublight: #6B7280;
  --color-paralight: #374151;



  /* font family here*/
  --font-poppins: "Poppins", sans-serif;
  
}

body {
  @apply font-poppins;
}


